#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
.addTimerButton .removeTimerButton {
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}